// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Admin dashboard (Livewire modules)
@import 'dashboard';


.logo-box {
    background-color: #e60023;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    margin-right: 8px;
    font-size: 18px;
}

.brand-text {
    color: #e60023;
    font-weight: 700;
    font-size: 22px;
}
 